//sizes

//intervals
delay = 0s
fade-in = 0.2s
fade-out = 0s

//fonts
web-sans = 'Open Sans', 'Droid Sans', 'Source Sans Pro'
web-mono = 'Source Code Pro', 'DejaVu Sans Mono', 'Droid Sans Mono'
font-family-sans = web-sans, 'Helvetica Neue', 'Segoe UI', Verdana, Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif
font-family-sans-serif = "Roboto Condensed", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif
font-family-serif = "Martel", Georgia,Cambria, "Times New Roman", Times, serif
font-family-mono = web-mono, Menlo, Consolas, Monaco, 'Lucida Console', 'Courier', monoscape
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.0.3"

//colors
dimgray =#696969
link-hover-color = cornflowerblue
link-color = #495A80
